---
import Layout from "../layouts/Layout.astro";
import AnimatedGradientBackground from "@neuronio/ui/animated-gradient-bg";
import { HeartHandshakeIcon } from "lucide-react";
---

<Layout title="Welcome to Astro.">
    <main class="min-h-dvh min-w-vw">
        <AnimatedGradientBackground client:load>
            <div
                class="font-mono text-6xl absolute flex w-full h-full justify-center items-center z-10"
            >
                <div class="flex flex-col items-center gap-4">
                    <h1>TURBOREPO</h1>
                    <HeartHandshakeIcon className="size-16 animate-pulse" />
                    <h1>SST</h1>
                </div>
            </div>
        </AnimatedGradientBackground>
    </main>
</Layout>
